// A base class of control base.



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "~@nodestrap/sass-selector/src/index"       as selector;
@use "~@nodestrap/element/src/index"             as base;
@use "~@nodestrap/strip-out/src/index"           as strip-out;
@use "~@nodestrap/colors/src/index"              as color;



@use "sass:meta" as meta;



$alias              : "%control"                            !default;
$class              : ""                                    !default;
$var-root           : ":root"                               !default;
$var-prefix         : "ctrl"                                !default;
$var-prefix-base    : ""                                    !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

/*base*/$backg              : var(#{base.$cssvar}backg)                     !default;
/*base*/$backg-gradient     : var(#{base.$cssvar}backg-gradient)            !default;
/*base*/$color              : var(#{base.$cssvar}color)                     !default;

/*base*/$font-size          : var(#{base.$cssvar}font-size)                 !default;
/*base*/$font-size-sm       : var(#{base.$cssvar}font-size-sm)              !default;
/*base*/$font-size-lg       : var(#{base.$cssvar}font-size-lg)              !default;
/*base*/$font-family        : var(#{base.$cssvar}font-family)               !default;
/*base*/$font-weight        : var(#{base.$cssvar}font-weight)               !default;
/*base*/$font-style         : var(#{base.$cssvar}font-style)                !default;
/*base*/$text-decoration    : var(#{base.$cssvar}text-decoration)           !default;
/*base*/$lineheight         : var(#{base.$cssvar}lineheight)                !default;

/*base*/$padding-x          : var(#{base.$cssvar}padding-x)                 !default;
/*base*/$padding-y          : var(#{base.$cssvar}padding-y)                 !default;
/*base*/$padding-x-sm       : var(#{base.$cssvar}padding-x-sm)              !default;
/*base*/$padding-y-sm       : var(#{base.$cssvar}padding-y-sm)              !default;
/*base*/$padding-x-lg       : var(#{base.$cssvar}padding-x-lg)              !default;
/*base*/$padding-y-lg       : var(#{base.$cssvar}padding-y-lg)              !default;

/*base*/$border             : var(#{base.$cssvar}border)                    !default;
/*base*/$border-radius      : var(#{base.$cssvar}border-radius)             !default;
/*base*/$border-radius-sm   : var(#{base.$cssvar}border-radius-sm)          !default;
/*base*/$border-radius-lg   : var(#{base.$cssvar}border-radius-lg)          !default;

/*base*/$box-shadow         : var(#{base.$cssvar}box-shadow)                !default;
/*addn*/$box-shadow-focus   : 0 0 0 0.2rem                                  !default;

/*addn*/$cursor-enabled     : pointer                                       !default;
/*addn*/$cursor-disabled    : not-allowed                                   !default;

/*base*/$transition         : var(#{base.$cssvar}transition)                !default;

/*base*/$filter             : var(#{base.$cssvar}filter)                    !default;
/*base*/$filter-hover       : var(#{base.$cssvar}filter-hover)              !default;
/*addn*/$filter-active      : brightness(65%) contrast(150%)                !default;
/*addn*/$filter-disabled    : grayscale(50%) opacity(50%)                   !default;

/*base*/$anim               : var(#{base.$cssvar}anim)                      !default;
/*base*/$anim-hover         : 150ms ease-out both #{$cssvar}anim-hover      !default;
/*base*/$anim-leave         : 300ms ease-out both #{$cssvar}anim-leave      !default;
/*addn*/$anim-focus         : 150ms ease-out both #{$cssvar}anim-focus      !default;
/*addn*/$anim-blur          : 300ms ease-out both #{$cssvar}anim-blur       !default;
/*addn*/$anim-active        : 150ms ease-out both #{$cssvar}anim-active     !default;
/*addn*/$anim-passive       : 300ms ease-out both #{$cssvar}anim-passive    !default;
/*addn*/$anim-enabled       : 150ms ease-out both #{$cssvar}anim-enabled    !default;
/*addn*/$anim-disabled      : 300ms ease-out both #{$cssvar}anim-disabled   !default;



@include declare-cssvar($var-root) {
    /*base*/#{$cssvar}backg             : $backg;
    /*base*/#{$cssvar}backg-gradient    : $backg-gradient;
    /*base*/#{$cssvar}color             : $color;

    /*base*/#{$cssvar}font-size         : $font-size;
    /*base*/#{$cssvar}font-size-sm      : $font-size-sm;
    /*base*/#{$cssvar}font-size-lg      : $font-size-lg;
    /*base*/#{$cssvar}font-family       : $font-family;
    /*base*/#{$cssvar}font-weight       : $font-weight;
    /*base*/#{$cssvar}font-style        : $font-style;
    /*base*/#{$cssvar}text-decoration   : $text-decoration;
    /*base*/#{$cssvar}lineheight        : $lineheight;

    /*base*/#{$cssvar}padding-x         : $padding-x;
    /*base*/#{$cssvar}padding-y         : $padding-y;
    /*base*/#{$cssvar}padding-x-sm      : $padding-x-sm;
    /*base*/#{$cssvar}padding-y-sm      : $padding-y-sm;
    /*base*/#{$cssvar}padding-x-lg      : $padding-x-lg;
    /*base*/#{$cssvar}padding-y-lg      : $padding-y-lg;
    
    /*base*/#{$cssvar}border            : $border;
    /*base*/#{$cssvar}border-radius     : $border-radius;
    /*base*/#{$cssvar}border-radius-sm  : $border-radius-sm;
    /*base*/#{$cssvar}border-radius-lg  : $border-radius-lg;

    /*base*/#{$cssvar}box-shadow        : $box-shadow;
    /*addn*/#{$cssvar}box-shadow-focus  : $box-shadow-focus;

    /*addn*/#{$cssvar}cursor-enabled    : $cursor-enabled;
    /*addn*/#{$cssvar}cursor-disabled   : $cursor-disabled;

    /*base*/#{$cssvar}transition        : $transition;

    /*base*/#{$cssvar}filter            : $filter;
    /*base*/#{$cssvar}filter-hover      : $filter-hover;
    /*addn*/#{$cssvar}filter-active     : $filter-active;
    /*addn*/#{$cssvar}filter-disabled   : $filter-disabled;

    /*base*/#{$cssvar}anim              : $anim;
    /*base*/#{$cssvar}anim-hover        : $anim-hover;
    /*base*/#{$cssvar}anim-leave        : $anim-leave;
    /*addn*/#{$cssvar}anim-focus        : $anim-focus;
    /*addn*/#{$cssvar}anim-blur         : $anim-blur;
    /*addn*/#{$cssvar}anim-active       : $anim-active;
    /*addn*/#{$cssvar}anim-passive      : $anim-passive;
    /*addn*/#{$cssvar}anim-enabled      : $anim-enabled;
    /*addn*/#{$cssvar}anim-disabled     : $anim-disabled;



    // variant-theme: background, color, border:
    @each $theme-name, $theme-color in color.$themes {
        // background:
        /*base*/#{$cssvar}backg-#{$theme-name}              : var(#{base.$cssvar}backg-#{$theme-name});

        // color:
        /*base*/#{$cssvar}color-#{$theme-name}              : var(#{base.$cssvar}color-#{$theme-name});

        // box-shadow-focus:
        /*addn*/#{$cssvar}box-shadow-focus-#{$theme-name}   :
            var(#{$cssvar}box-shadow-focus)
            hsla(
                calc(var(#{base.$cssvar}backg-#{$theme-name}-h) * 1deg),
                calc(var(#{base.$cssvar}backg-#{$theme-name}-s) * 100%),
                calc(var(#{base.$cssvar}backg-#{$theme-name}-l) * 100%),
                calc(var(#{base.$cssvar}backg-#{$theme-name}-a) * 100% * 0.5)
            );
    }
}



/* begin: states */
@mixin state-hover        { @include base.state-hover        { @content; }}
@mixin state-not-hover    { @include base.state-not-hover    { @content; }}
@mixin state-leave        { @include base.state-leave        { @content; }}
@mixin state-not-leave    { @include base.state-not-leave    { @content; }}


@mixin state-disabled     { @include base.state-disabled     { @content; }}
@mixin state-not-disabled { @include base.state-not-disabled { @content; }}
@mixin state-enabled      { @include base.state-enabled      { @content; }}
@mixin state-not-enabled  { @include base.state-not-enabled  { @content; }}


$_state-focus: ":focus";
$_state-blur : ".blur";
@mixin state-focus {
    @include selector.append(    $_state-focus) {
        @content;
    }
}
@mixin state-not-focus {
    @include selector.append-not($_state-focus) {
        @content;
    }
}
@mixin state-blur {
    @include state-not-focus { @include selector.append($_state-blur) {
        @content;
    }}
}
@mixin state-not-blur {
    @include selector.append-not($_state-blur) {
        @content;
    }
}


$_state-active: ":active, .active, .actived";
$_state-passive: ".passive";
@mixin state-active {
    @include selector.append(    $_state-active) {
        @content;
    }
}
@mixin state-not-active {
    @include selector.append-not($_state-active) {
        @content;
    }
}
@mixin state-passive {
    @include state-not-active { @include selector.append($_state-passive) {
        @content;
    }}
}
@mixin state-not-passive {
    @include selector.append-not($_state-passive) {
        @content;
    }
}


@mixin state-no-animation-startup {
    @include state-not-hover { @include state-not-leave {
    @include state-not-focus { @include state-not-blur {
        animation-duration: 0ms !important;
    }}}}
}
/* end: states */



/* begin: general style */
@mixin _style($include, $cssvar: $cssvar) {
    @include strip-out.control;

    @include  base.style($cssvar);



    /* begin: variant-size: font-size, padding, border-radius */
    @each $size in (sm, lg) { @include variant-of($alias, $size) {
        @extend #{base.$alias}_#{$size};
    }}
    /* end: variant-size: font-size, padding, border-radius */



    /* begin: variant-theme: box-shadow-focus */
    @each $theme-name, $theme-color in color.$themes { @include variant-of($alias, $theme-name) {
        @extend #{base.$alias}_#{$theme-name};


        #{$cssvar}box-shadow-focus: var(#{$cssvar}box-shadow-focus-#{$theme-name});
    }}
    /* end: variant-theme: box-shadow-focus */
    
    
    
    /* begin: states: animation */
    #{$cssvar}filter-hover-leave    : brightness(100%);
    #{$cssvar}anim-hover-leave      : none;
    @include state-not-disabled {
        @include state-hover { #{$cssvar}filter-hover-leave : var(#{$cssvar}filter-hover);
                               #{$cssvar}anim-hover-leave   : var(#{$cssvar}anim-hover);   }
        @include state-leave { #{$cssvar}filter-hover-leave : var(#{$cssvar}filter-hover);
                               #{$cssvar}anim-hover-leave   : var(#{$cssvar}anim-leave);   }
    }
    @at-root {
        @keyframes #{$cssvar}anim-hover {
            0% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    var(#{$cssvar}filter-active-passive)
                    // var(#{$cssvar}filter-hover-leave)
                    ;
            }
        
            100% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    ;
            }
        }
        
        @keyframes #{$cssvar}anim-leave {
            0% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    ;
            }
        
            100% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    var(#{$cssvar}filter-active-passive)
                    // var(#{$cssvar}filter-hover-leave)
                    ;
            }
        }
    }



    #{$cssvar}box-shadow-focus-blur: none;
    #{$cssvar}anim-focus-blur      : none;
    @include state-not-disabled {
        @include state-focus { #{$cssvar}box-shadow-focus-blur : var(#{$cssvar}box-shadow-focus);
                               #{$cssvar}anim-focus-blur       : var(#{$cssvar}anim-focus);         }
        @include state-blur {  #{$cssvar}box-shadow-focus-blur : var(#{$cssvar}box-shadow-focus);
                               #{$cssvar}anim-focus-blur       : var(#{$cssvar}anim-blur);          }
    }
    @at-root {
        @keyframes #{$cssvar}anim-focus {
            0% {
                box-shadow:
                    var(#{$cssvar}box-shadow),
                    // var(#{$cssvar}box-shadow-focus-blur)
                    ;
            }
        
            100% {
                box-shadow:
                    var(#{$cssvar}box-shadow),
                    var(#{$cssvar}box-shadow-focus-blur)
                    ;
            }
        }
        
        @keyframes #{$cssvar}anim-blur {
            0% {
                box-shadow:
                    var(#{$cssvar}box-shadow),
                    var(#{$cssvar}box-shadow-focus-blur)
                    ;
            }
        
            100% {
                box-shadow:
                    var(#{$cssvar}box-shadow),
                    // var(#{$cssvar}box-shadow-focus-blur)
                    ;
            }
        }
    }



    #{$cssvar}filter-active-passive : brightness(100%);
    #{$cssvar}anim-active-passive   : none;
    @include state-not-disabled {
        @include state-active  { #{$cssvar}filter-active-passive : var(#{$cssvar}filter-active);
                                 #{$cssvar}anim-active-passive   : var(#{$cssvar}anim-active);    }
        @include state-passive { #{$cssvar}filter-active-passive : var(#{$cssvar}filter-active);
                                 #{$cssvar}anim-active-passive   : var(#{$cssvar}anim-passive);   }

        @include selector.append(".active, .actived") { // if activated programmatically
            animation:
                var(#{$cssvar}anim),
                var(#{$cssvar}anim-disabled-enabled),
                var(#{$cssvar}anim-active-passive),     // first: control already pressed
                var(#{$cssvar}anim-focus-blur),         // then : control may got focus
                var(#{$cssvar}anim-hover-leave);        // then : move cursor toward control
        }

        @include selector.append(".actived") { // if was actived, disable first animation
            @include state-no-animation-startup;
        }
    }
    @at-root {
        @keyframes #{$cssvar}anim-active {
            0% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    // var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    ;
            }
        
            100% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    ;
            }
        }
        
        @keyframes #{$cssvar}anim-passive {
            0% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    ;
            }
        
            100% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-disabled-enabled)
                    // var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    ;
            }
        }
    }



    #{$cssvar}filter-disabled-enabled   : brightness(100%);
    #{$cssvar}anim-disabled-enabled     : none;
    cursor: var(#{$cssvar}cursor-enabled);
    @include state-disabled { #{$cssvar}filter-disabled-enabled : var(#{$cssvar}filter-disabled);
                              #{$cssvar}anim-disabled-enabled   : var(#{$cssvar}anim-disabled);
                              cursor: var(#{$cssvar}cursor-disabled);                             }
    @include state-enabled  { #{$cssvar}filter-disabled-enabled : var(#{$cssvar}filter-disabled);
                              #{$cssvar}anim-disabled-enabled   : var(#{$cssvar}anim-enabled);    }
    
    @include state-disabled { @include selector.append-not(".disabled") { // if was disabled, disable first animation
        @include state-no-animation-startup;
    }}
    @include state-enabled  { @include state-active { // do not animate during disabled => enabled active
        #{$cssvar}filter-disabled-enabled   : brightness(100%);
    }}
    @at-root {
        @keyframes #{$cssvar}anim-disabled {
            0% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    // var(#{$cssvar}filter-disabled-enabled)
                    ;
            }
        
            100% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    var(#{$cssvar}filter-disabled-enabled)
                    ;
            }
        }
        
        @keyframes #{$cssvar}anim-enabled {
            0% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    var(#{$cssvar}filter-disabled-enabled)
                    ;
            }
        
            100% {
                filter:
                    var(#{$cssvar}filter)
                    var(#{$cssvar}filter-active-passive)
                    var(#{$cssvar}filter-hover-leave)
                    // var(#{$cssvar}filter-disabled-enabled)
                    ;
            }
        }
    }



    animation:
        var(#{$cssvar}anim),
        var(#{$cssvar}anim-disabled-enabled),
        var(#{$cssvar}anim-hover-leave),        // first: move cursor toward control
        var(#{$cssvar}anim-focus-blur),         // then : control got focus
        var(#{$cssvar}anim-active-passive);     // then : press control
    /* end: states: animation */
}
@mixin style($cssvar: $cssvar) {
    @include _style(true, $cssvar);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



// abstract class => no emit class
// @include class($alias, $class);